@model Channa.Models.Transaksi

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Transaksi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTransaksi" />
            <div class="form-group">
                <label asp-for="IdIkan" class="control-label"></label>
                <input asp-for="IdIkan" class="form-control" />
                <span asp-validation-for="IdIkan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPembeli" class="control-label"></label>
                <input asp-for="IdPembeli" class="form-control" />
                <span asp-validation-for="IdPembeli" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JumlahTransaksi" class="control-label"></label>
                <input asp-for="JumlahTransaksi" class="form-control" />
                <span asp-validation-for="JumlahTransaksi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TanggalTransaksi" class="control-label"></label>
                <input asp-for="TanggalTransaksi" class="form-control" />
                <span asp-validation-for="TanggalTransaksi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
